/* VARIABLES */
:root{
    --background-color-whiter: white;
    --background-color: #EEEEEE;
    --background-color-darker: #E3E3E3;
    --border-color: #CECECE;

    --text-main: black;
    --text-lighter: #909090;

    --bounce: cubic-bezier(.47,1.64,.41,.8);
}

/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Inter", sans-serif;
}

/* BUTTON */
button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 25px;

    transition-duration: 0.2s;
}
button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.95);
}