/* VARIABLES */
:root{
    --bg-color: #0F0F0F;

    --nav-text-color: white;
    --nav-width: 270px;
}


/*
    All the styles are prefixed with #main to avoid conflicts with styles within the iframe.
*/

/* MAIN BODY */
#main{
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    overflow: hidden;
}

/* NAVIGATION */
#main nav{
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: var(--nav-width);
}

#main nav h1{
    color: var(--nav-text-color);
    font-size: 30px;
    font-weight: bold;
}

#main nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    user-select: none;
    overflow: auto;
}
#main nav ul li{
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    color: var(--nav-text-color);
    font-size: 16px;

    position: relative;
    cursor: pointer;

    transition-duration: 0.2s;
}
#main nav ul li img{
    width: 24px;
    height: 24px;
}

#main nav ul li.selected{
    background-color: rgba(169, 169, 169, 0.15);
}

/* MAIN */
#main main{
    width: calc(100% - var(--nav-width));
    border-radius: 35px;
    background-color: var(--background-color);
    overflow: hidden;
}
#main main iframe{
    width: 100%;
    height: 100%;
    user-select: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 7px; /* Largeur de la barre */
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ededed, #cfcfcf); /* Couleur et gradient du curseur */
    border-radius: 4px; /* Coins arrondis */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #cccccc, #b0b0b0); /* Couleur au survol */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Couleur de fond de la piste */
    border-radius: 4px; /* Coins arrondis de la piste */
}

::-webkit-scrollbar-track:hover {
    background: #2e2e2e; /* Couleur au survol de la piste */
}

/* RESPONSIVE */
@media screen and (max-width: 1300px) {
    #main{
        flex-direction: column-reverse;
        gap: 30px;
        padding: 10px;
    }
    #main nav{
        width: 100%;
    }
    #main::after{
        content: 'ADIIL - Admin';
        color: var(--nav-text-color);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    #main nav>h1{
        display: none;
    }
    #main nav>ul{
        flex-direction: row;
        gap: 15px;
        overflow: auto;
    }
    #main nav>ul>li{
        height: 60px;
    }
    #main main{
        width: 100%;
        height: 80vh;
    }
}