/************************
******  Adhesion  ******
*************************/

H1 {
    font-size: 4.5em;
    letter-spacing: 15px;
    line-height: 100px;
    font-weight: 500;
    font-family: "Koulen", sans-serif;
}

#cart-button {
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(119, 241, 190);
    background-color: #1E1E1E;
    margin-top: 30px;
}

#cart-button a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none; /* Supprime le soulignement */
    color: inherit;
    width: 100%;
    height: 100%;
    gap : 10px;
}

#cart-button img {
    width: 30px;
    height: 30px;
}


div:nth-of-type(2){
    align-self: center;
    margin: auto;
    margin-top: 80px;
}

div:nth-of-type(2) div:first-of-type table thead th {
    padding: 20px;
}

div:nth-of-type(2) div:first-of-type table tbody tr {
    text-align: center;
}

div:nth-of-type(2) div:first-of-type h3{
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align:end;
}

div:nth-of-type(2) form {
    align-self: flex-start;
    margin: auto;
    margin-top: 60px;
}

div:nth-of-type(2) div:nth-of-type(2) h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;
}

div:nth-of-type(2) div:nth-of-type(2) label{
    border-radius: 5px;
    color: rgb(169, 169, 169);
    font-size: 1.2em;
    margin-right: 5px;               
}

div:nth-of-type(2) div:nth-of-type(2) select{
    all: unset;
    border: 2px solid rgb(169, 169, 169);
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 0.80vh 2.5vh 0.80vh 1vh;
    background: #1E1E1E url('/assets/chevron_logo.png') no-repeat right 4px center;
    background-size: 12px 12px;
}

div:nth-of-type(2) div:nth-of-type(2) div form input{
    border-radius: 5px;
    border: 2px solid rgb(169, 169, 169);
    background-color: #1E1E1E;
    font-size: 16px;               
    color: white;  
    padding-left: 2vh;
    height: 3vh;
}

div:nth-of-type(2) div:nth-of-type(2) div form {
    margin-top: 0px;
}

div:nth-of-type(2) div:nth-of-type(2) div {
    margin-top: 0px;
}

#paypal-button {
    display: flex;
    flex-direction: row;
    padding: 1vh;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background-color:  #1E1E1E;
    color: rgb(119, 241, 190);
    margin: auto;
    margin-top: 10px;
}

#finalise-order-button {
    display: flex;
    flex-direction: row;
    padding: 1vh;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 270px;
    height: 60px;
    background-color:  rgb(119, 241, 190);
    color: #1E1E1E;
    margin: auto;
    margin-top: 50px;
    font-weight: bold;
}