/***********************
******  Agenda  ******
************************/

H1 {
    font-size: 4.5em;
    letter-spacing: 15px;
    line-height: 100px;
    font-weight: 500;
    font-family: "Koulen", sans-serif;
    margin-bottom: 75px;
}

iframe {
    border-radius: 15px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
    width: 80vw;
    height: 75vh;
    border: none; 
    margin:auto; 
    align-self:center;
    display:flex;
}