section {
  height: fit-content;
}
h1 {
  margin-left: 2vw;
  font-size: 4.5em;
  letter-spacing: 15px;
  line-height: 100px;
  font-weight: 500;
  font-family: "Koulen", sans-serif;
}

.event-subscribed {
  background-color: rgb(38, 100, 49);
}
.event-not-subscribed {
  background-color: #c3161675;
}
.event-full {
  background-color: #5d5757;
}

.events-display {
    width: fit-content;

    margin: auto;
    margin-bottom: 5vh;

    padding: 20px;

    height: fit-content; /* Limite la hauteur pour permettre le défilement */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8vh;
    align-items: flex-end;
    align-self: center;

    position: relative;
  }
  
.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  min-width: 500px;
  max-width: 780px;
  min-height: 130px;
  max-height: 170px;
  border-radius: 40px;
  padding: 2vw 1vw;
  background-color: #000000;
  font-size: 1.2em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;

}
.event:hover {
  background-color: #333333;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.event > div {
  width: 100%;
  overflow: hidden;
}
.event > * {
  margin-left: 1vw;
  margin-right: 1vw;
}
.event > div h2 {
  margin-bottom: 10px;
}
.event h4 {
  width: 125px;
  border-radius: 20px;
  align-self: center;
  text-align: center;
  padding: 12px;
}
.event-box {
  display: flex;
  align-items: center;
  position: relative;
}
.passed {
  opacity: 60%;
}
.timeline-event {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.timeline-event p {
  font-size: 1em;
  text-align: left;
  margin: auto 25px;
  width: 75px;
}
.timeline-event h4 {
  font-size: 1.2em;
  text-align: right;
  padding-right: 10px;
}
.timeline-marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  position: relative;
}
.timeline-marker.passed {
  background-color: rgb(155, 140, 140);
}
.timeline-marker.today {
  background-color: rgb(64, 180, 141);
}

.timeline-marker.today + p {
    font-weight: 900;
}

.timeline-marker.upcoming {
  background-color: rgb(38, 100, 49);
}
.vertical-line {
  width: 2px;
  height: 100px;
  background-color: rgb(119, 241, 190);
  margin: 0 auto;
  left: 10px;
}


.show-more {
  opacity: 80%;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;

  width: fit-content;

  padding: 15px 30px;

  color: rgb(119, 241, 190);
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

  transition: all 0.3s ease-in-out;
  text-decoration: none;

  margin: 8vh auto 8vh auto ;
  margin-bottom: 30px;
}
.show-more:hover {
  background-color: rgb(98, 207, 162);
  color: black;
  transform: scale(1.05);
}
